$color-title: #7EB693;
$color-subtitle: #274C5B;
$color-title-hover: darken($color-title, 10%);
$color-subtitle-hover: lighten($color-subtitle, 10%);
$bgcolor-label: #274C5B;
$white: white;
$bgcolor-card: #F9F8F8;
$color-shadow: black;
$color-border: #D4D4D4;